<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food</title>
  </head>
  <body>
    <h1> You Fed Your Tamagotchi </h1>
    <p>{{ attribute.getFood }}</p>
    <p><a href="/">go home</a></p>
  </body>
</html>
